{% extends "main.html" %}
{% block content %}
<body>
    <main class="container">
        <div class="login-form form">
            <div class="login-header">
                <h2>Welcome to the EasyToDo-App</h2>
                <h3>LOGIN</h3>
            </div>
            {% if messages %}
                <ul class="messages">
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
                </ul>
            {% endif %}
            
            <form action="" method="POST">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="password">
                <button class="signin-btn" type="submit">Sign in</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </main>
</body>
{% endblock %}
