<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="" method="POST">
        {% for field in form %}
        {% csrf_token %}
        <p>{{field.label}}</p>
        {{field}}
        {% endfor %}
        <button type="submit">register</button>
    </form>
    <p>already a user?<a href="{% url 'login' %}"> login</a></p>
</body>
</html>